html,
body {
    height: 100%;
    width: 100%;
}

body {
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB, Microsoft Yahei, sans-serif;
    font-size: 14px
}

.app-content {
    height: calc(100% - 70px);
    overflow: scroll;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #474157;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #474157;
}

li {
    font-style: normal;
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
    letter-spacing: 1px;
}

p {
    font-size: 16px;
}

.navbar-default .navbar-header .navbar-brand {
    font-weight: 200;
    letter-spacing: 1px;
    color: #474157;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #474157;
}

.navbar-default .navbar-header .navbar-toggle {
    font-size: 12px;
    color: #474157;
    padding: 8px 10px;
}

.navbar-default .nav>li>a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    color: #7a798c;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #474157;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #474157 !important;
    background-color: transparent;
}

.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

#mainbody {
    position: relative;
    width: 100%;
    min-height: auto;
    overflow-y: hidden;
    background: #f1f6fd;
    color: #474157;
    height: calc(100vh - 61px);
}

#mainbody .index-text {
    text-align: center;
    padding: 250px 0 50px;
    position: relative;
    height: 100vh;
}

#mainbody .index-text h1 {
    font-size: 50px;
    font-weight: bold;
    color: #171347
}

#mainbody .index-gallery {
    text-align: center;
    padding: 200px 0 50px;
    position: relative;
}

@media (max-height: 500px) {
    #mainbody {
        height: inherit;
    }
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }
    #mainbody .index-text {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .navbar-default {
        background-color: #f1f6fd;
        border-color: #f1f6fd;
    }
    .navbar-default .navbar-collapse {
        background: #f1f6fd;
        box-shadow: 5px 9px 5px rgba(0, 0, 0, 0.07);
    }
    #mainbody {
        height: unset;
    }
    #mainbody .index-text {
        padding: 130px 0 0 0;
        height: calc(100vh - 261px);
    }
    #mainbody .index-gallery {
        padding: 30px 0 50px 0;
    }
    #mainbody .index-text h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }
}

footer {
    background-color: #222222;
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

footer p {
    font-size: 14px;
    margin: 0;
}

.bg-primary {
    background: #fdcc52;
    background: -webkit-linear-gradient(#fdcc52, #fdc539);
    background: linear-gradient(#fdcc52, #fdc539);
}

.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-xl {
    margin-top: 20px;
    padding: 10px 45px;
    font-size: 14px;
}

/*toast*/

.toast {
    top: 50%;
    left: 50%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    z-index: 13;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.toast.in {
    -webkit-animation-name: contentZoomIn;
    animation-name: contentZoomIn;
}

.toast .iconfont {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
    display: block;
}

.toast .iconfont.icon-loading:before {
    display: block;
    -webkit-transform: rotate(360deg);
    animation: rotation 2.7s linear infinite;
}

.toast .text {
    margin: 0;
    text-align: center;
    max-width: 300px;
    color: #fff;
    font-size: 16px;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes contentZoomIn {
    0% {
        -webkit-transform: translate(-50%, -70%);
        transform: translate(-50%, -70%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes contentZoomIn {
    0% {
        -webkit-transform: translate(-50%, -70%);
        transform: translate(-50%, -70%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@-webkit-keyframes contentZoomOut {
    0% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(-50%, -30%);
        transform: translate(-50%, -30%);
        opacity: 0;
    }
}

@keyframes contentZoomOut {
    0% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(-50%, -30%);
        transform: translate(-50%, -30%);
        opacity: 0;
    }
}

/*toast*/

.kefu {
    width: 60px;
    height: 60px;
    bottom: 70px;
    right: 15px;
    position: fixed;
    z-index: 100;
    vertical-align: middle;
    border-style: none;
}

.van-toast {
    font-size: 16px;
    border-radius: 20px;
}

/*vant*/

.van-list__error-text,
.van-list__finished-text,
.van-loading__text {
    font-size: 14px;
}

.van-loading__spinner {
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.van-pull-refresh__head {
    font-size: 14px;
}

.van-empty__description {
    font-size: 14px;
}

.van-button--danger {
    background: #ff2e63;
    height: 40px;
    font-size: 18px;
}

.van-dialog__message {
    font-size: 18px;
}

.van-collapse-item__wrapper {
    margin-top: -6px;
}

.van-collapse-item__content {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
}
.receive-btn {
  display: inline-block;
  background-color: rgb(38, 83, 245);
  border: 0;
  border-radius: .25em;
  color: #fff;
  font-size: 1em;
}

.receive-modal {
  display: flex;
  align-items: center;
}

.receive-info-title {
  position: relative;
  max-width: 100%;
  margin: 0;
  padding: .8em 1em 0;
  color: #595959;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
}

.receive-info {
  margin: 40px;
  border-radius: 10px;
  justify-content: center;
  padding: 20px 10px 20px 10px;
  background: #fff;
  line-height: normal;
  text-align: center;
}

.receive-info-text {
  margin: 20px;
  overflow: auto;
  color: #545454;
  font-size: 1.125em;
  font-weight: 400;
  word-wrap: break-word;
  word-break: break-word;
}

.app-content {
  background: #f9fafb;
  height: 100%;
}

.header {
  position: relative;
  background: #2653f5;
}

.header-text {
  position: absolute;
  bottom: 10%;
  left: 6%;
  margin-top: 26px;
}

.logo {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 38vh;
  /* background: #1d5786; */
}

.logo img {
  max-width: 46%;
  margin: 14px;
}

.header-title {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.header-title-two {
  color: #fff;
  font-size: 14px;
}

.header-option {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 6%;
  right: 6%;
  /*z-index: 88;*/
  padding: 10px 0;
}

.header-option-share svg {
  display: block;
  width: 21px;
  height: 21px;
}

.header-option-icon {
  display: flex;
}

.header-option-icon img {
  width: 26px;
  height: 26px;
  vertical-align: central;
}

.header-option-icon-title {
  color: #ffffff;
  font-weight: 900;
  font-size: 18px;
  letter-spacing: 1px;
}

.header-option-link {
  padding: 5px 6px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 3px;
  display: flex;
}

.header-option-link svg {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 2px;
}

.header-option-link-text {
  color: #fff;
  font-size: 12px;
  line-height: 1;
}

.btn-join {
  height: 40px;
  display: inline-block;
  background: #fff;
  box-shadow: 1px 2px 4px 1px rgb(0 0 0 / 50%);
  color: #1d5786;
  text-transform: capitalize;
  border-radius: 3px;
  font-weight: bold;
  font-size: larger;
}

.infos {
  margin-top: 10px;
}

.van-tabs__nav {
  background: none;
}

.infos-tab {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-top: 14px;
  padding-bottom: 20px;
  line-height: normal;
}

.infos-tab.van-tab--active .van-tab__text {
  font-weight: bold;
  /*font-size: 24px;*/
  color: #333;
}

.infos-tab .van-tab__text {
  color: #a3a2af;
  display: block;
  font-weight: bold;
  font-size: 17px;
}

.van-tabs__line {
  background: #1d5786;
}

.van-tab__pane {
  width: 90%;
  margin: 0 auto;
  padding: 30px 0;
}

.infos-panel {
  margin-top: 1em;
  background: #fff;
  box-shadow: 0px 6px 16px 0px rgb(193 193 193 / 28%);
  padding: 10px 20px;
  border-radius: 12px;
  position: relative;
}

.infos-panel-line {
  background: -webkit-linear-gradient(rgb(38 83 245 / 80%), rgb(38 83 245 / 10%));
  background: linear-gradient(rgb(38 83 245 / 80%), rgb(38 83 245 / 10%));
  position: absolute;
  top: 13px;
  left: 0;
  width: 4px;
  height: 20px;
  border-radius: 20px;
}

.infos-panel-line.red {
  background: -webkit-linear-gradient(rgb(238 0 0 / 80%), rgb(238 0 0 / 10%));
  background: linear-gradient(rgb(238 0 0 / 80%), rgb(238 0 0 / 10%));
}

.infos-panel-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 10px;
}

.infos-list-one {
  padding: 4px 0;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.infos-list-one-title {
  color: #999;
}

.infos-list-one-value {
  color: #1d5786;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.5px;
  display: inline-block;
}

.infos-list-one-value.black {
  color: #000;
}

.infos-list-one-value.red {
  color: #e74c3c;
}

.main-title {
  margin: 30px auto;
  position: relative;
  text-align: center;
}

.main-title-text {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 1;
  margin-bottom: 5px;
}

.main-title-lable {
  color: #a3a2af;
  font-weight: bold;
  line-height: 1;
}

.withdraw-list-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 12px;
}

.withdraw-activity {
  height: 218px;
  overflow: hidden;
  margin-bottom: 10px;
}

.withdraw-activity-one {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.withdraw-activity-address {
  color: #1577bf;
  font-size: 12px;
}

.withdraw-activity-money {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 0.5px;
  display: inline-block;
}

.van-cell__right-icon {
  color: #1577bf;
}

.issue-list {
  background-size: 100% 100%;
  /*padding: 20px;*/
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.issue-list-col {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 100%;
  margin-left: 20px;
  margin-right: 20px;
  color: #fff;
  font-size: 15px;
}

.issue-list-col .van-cell {
  padding: 16px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #fff;
}

.van-collapse-item {
  box-shadow: 0px 6px 16px 0px rgb(193 193 193 / 28%);
}

.issue-list-col .van-collapse-item__wrapper {
  margin-top: -6px;
}

.issue-list-col .van-collapse-item__content {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
}

.issue-list .van-collapse-item {
  margin-bottom: 10px;
}

.audit-list,
.partner-list {
  /*padding: 20px;*/
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.audit-list-content {
  display: flex;
  justify-content: space-between;
}

.audit-list-content img {
  border-radius: 12px;
  width: 32%;
  height: 30px;
  box-shadow: 0px 6px 16px 0px rgb(193 193 193 / 28%);
}

.header-tip {
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-between;
}

.invite-code {
  padding: 2px 10px 2px 10px;
  border-radius: 10px;
  color: #fff;
  overflow: hidden;
  max-width: 20%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.app-list {
  border-radius: 12px;
  overflow: hidden;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 6px 16px 0px rgb(193 193 193 / 28%);
}

.app-one {
  background-color: #f7f6fc;
  border-radius: 10px;
  background-color: rgba(247, 246, 252, 1);
  margin-bottom: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.app-one-img {
  height: 40px;
  width: 40px;
  border-radius: 10px;
}

.app-one-title {
  margin-left: 10px;
  font-size: 15px;
  font-weight: 600;
}

.share-modal {
  background: #fff;
}

.share-content-header {
  position: relative;
  padding: 10px 20px;
}

.share-content-header img {
  display: block;
  margin: 38px auto 20px;
  width: 82%;
}

.share-content-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 20px;
  line-height: 1;
  font-size: 28px;
  font-weight: 100;
  color: #999;
}

.share-conten-main {
  position: relative;
  box-shadow: 0 10px 16px 0 rgb(193 193 193/10%);
  padding: 10px 20px;
  border-radius: 14px;
  padding-bottom: 14px;
  margin-bottom: 14px;
}

.share-link-title {
  text-transform: capitalize;
  font-size: 15px;
  color: #999;
  display: block;
  letter-spacing: .5px;
  margin-bottom: 8px;
}

.share-link-copy {
  border-radius: 12px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 8px 0 rgb(193 193 193/20%);
}

.share-link-copy-btn {
  height: auto;
  background: #1d5786;
  color: #fff;
  font-size: 12px;
  line-height: 1;
  padding: 6px 16px;
  border-radius: 3px;
}

.share-link-des {
  line-height: 1.4;
  font-size: 12px;
  color: #999;
  margin-top: 14px;
}

.account-infos {
  margin-top: 24px;
}

.account-infos .van-tabs__nav {
  justify-content: space-between;
}

.account-tab.van-tab {
  display: flex;
  align-items: center;
  width: 49%;
  flex: none;
  background: #e8f2fb;
  text-align: center;
  border-top-left-radius: 10px;
  font-size: 13px;
  border-top-right-radius: 10px;
  transition: all .48s;
}

.account-infos .van-tabs__line {
  display: none;
}

.account-tab.van-tab--active {
  background-color: #1d5786 !important;
  display: flex;
  text-align: center;
  border-top-left-radius: 10px;
  font-size: 13px;
  border-top-right-radius: 10px;
}

.account-tab .van-tab__text {
  font-size: 13px;
  color: #000;
}

.account-tab.van-tab--active .van-tab__text {
  color: #fff;
}

.account-infos .van-tab__pane {
  width: 100%;
  position: relative;
  background: #fff;
  box-shadow: 0 6px 16px 0 rgb(193 193 193/28%);
  padding: 10px 20px;
  border-radius: 12px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.account-infos-exchange {
  border-radius: 12px;
  border: 1px solid #eee;
  position: relative;
  padding: 20px 20px 5px;
  margin-bottom: 10px;
}

.account-infos-exchange-one {
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.account-infos-exchange-input {
  color: #999;
  font-size: 22px;
}

.account-infos-exchange-input input {
  outline: none;
  resize: none;
  cursor: pointer;
  -webkit-appearance: none;
  width: 35%;
  font-size: 22px;
  border: none;
}

.account-infos-exchange-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  color: #489e7e;
}

.account-infos-exchange-result {
  font-size: 22px;
  color: #999;
}

.redeem-all,
.total-balance {
  color: #1d5786;
  font-size: 12px;
}

.redeem-all-icon img {
  vertical-align: middle;
  width: 24px;
  margin-right: 8px;
}

.redeem-all-icon {
  display: flex;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  color: #8a8a8a;
  font-size: 12px;
  font-weight: 700;
  margin-left: -6px;
  margin-top: 10px;
}

.exchange-btn,
.withdraw-btn {
  display: inline-block;
  border-radius: 3px;
  background: #1d5786;
  line-height: 38px;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
  font-size: 15px;
  letter-spacing: .5px;
  width: 50%;
  margin: 14px auto;
}

.account-infos-exchange-line {
  content: "";
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 100%;
  background: #eee;
}

.record-list .van-tab__pane {
  padding: 0;
  box-shadow: none;
  margin-top: 12px;
}

.record-tab.van-tab--active {
  background-color: #2653f5 !important;
  color: #fff !important;
}

.record-tab.van-tab--active .van-tab__text {
  color: #fff !important;
}

.record-tab .van-tab__text {
  color: #000 !important;
}

.record-list .van-tabs__nav {
  display: flex;
  width: 90%;
  border-radius: 6px;
  border: 1px solid #2653f5;
  overflow: hidden;
}

.record-tab {
  background: #fff;
  color: #fff;
  border-right: 1px solid #2653f5 !important;
}

.record-tab:last-child {
  border-right: none !important;
}

.record-list-title {
  margin-top: 20px;
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.m-van-tab {
  width: 100%;
  padding: 10px 0;
  background-color: #f4f4f4;
  position: relative;
  overflow: scroll;
}

.m-list {
  background-color: #fff;
  padding: 0 30px;
}

.m-item {
  position: relative;
  border-bottom: 1px solid #f4f4f4;
}

.m-item-title {
  padding: 10px 0;
  color: #777;
  font-size: 12px;
}

.m-item-content {
  padding-bottom: 10px;
}

.m-item-content-icon {
  display: inline-block;
}

.m-item-content-title {
  display: inline-block;
  padding-bottom: 10px;
}

.m-item-content-desc {
  display: inline-block;
  float: right;
  text-align: right;
}

.m-item-content-mian {
  padding-bottom: 10px;
  font-size: 18px;
}

.m-item-content-sub {
  color: #777;
  font-size: 12px;
}

.header-address {
  position: fixed;
  top: 210px;
  right: 23px;
}

.header-option-fixed {
  position: fixed;
  z-index: 1;
  background-color: #2653f5;
  left: 0;
  right: 0;
  opacity: 0.8;
}

.header-option .header-option-fixed-left {
  margin-left: 20px;
}

.header-option .header-option-fixed-right {
  margin-right: 20px;
}

.address-box {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
  background-color: #000;
  opacity: 0.6;
}

.level-details-list {
  padding: 0 10px 0 10px;
  margin-top: 10px;
}

.btm_list {
  width: 100%;
  background-image: linear-gradient(180deg, #495774 5%, #252a34);
  text-align: center;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 14px;
}

.btm_list div {
  width: 33%;
  height: 30px;
  line-height: 30px;
  color: #fff;
}

.btn_list_content {
  font-size: 14px;
  width: 100%;
  text-align: center;
  border-bottom: .5px solid #e9e9e9;
}

.btn_list_content div {
  width: 33%;
  height: 30px;
  line-height: 30px;
  color: #000;
}

.lang_img {
  margin-right: 6px;
  vertical-align: middle;
  width: 18px;
  height: 12px;
}

.footer {
  background-image: url("/assets/addons/imtoken/ming/img/footer-bg.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-top: 1.33333rem;
  padding-bottom: 1.33333rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 150px;
  width: 100%;
  position: relative;
}

.footer::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(21, 24, 38, .85);
  z-index: 0;
}
.active-tab1 {
  background-color: #1d5786;
  color: white;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.active1 {
  display: block;
}
.hidden {
  display: none;
}