html,
body {
    height: 100%;
    width: 100%;
}

body {
    /*-webkit-font-smoothing: antialiased;*/
    /*-moz-osx-font-smoothing: grayscale;*/
    font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB, Microsoft Yahei, sans-serif;
    font-size: 14px
}

.app-content {
    height: calc(100% - 70px);
    overflow: scroll;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: #474157;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #474157;
}

li {
    font-style: normal;
}

hr {
    max-width: 100px;
    margin: 25px auto 0;
    border-width: 1px;
    border-color: rgba(34, 34, 34, 0.1);
}

hr.light {
    border-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 200;
    letter-spacing: 1px;
}

p {
    font-size: 16px;
}

.navbar-default .navbar-header .navbar-brand {
    font-weight: 200;
    letter-spacing: 1px;
    color: #474157;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
    color: #474157;
}

.navbar-default .navbar-header .navbar-toggle {
    font-size: 12px;
    color: #474157;
    padding: 8px 10px;
}

.navbar-default .nav>li>a {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    color: #7a798c;
}

.navbar-default .nav>li>a:hover,
.navbar-default .nav>li>a:focus:hover {
    color: #474157;
}

.navbar-default .nav>li.active>a,
.navbar-default .nav>li.active>a:focus {
    color: #474157 !important;
    background-color: transparent;
}

.navbar-default .nav>li.active>a:hover,
.navbar-default .nav>li.active>a:focus:hover {
    background-color: transparent;
}

#mainbody {
    position: relative;
    width: 100%;
    min-height: auto;
    overflow-y: hidden;
    background: #f1f6fd;
    color: #474157;
    height: calc(100vh - 61px);
}

#mainbody .index-text {
    text-align: center;
    padding: 250px 0 50px;
    position: relative;
    height: 100vh;
}

#mainbody .index-text h1 {
    font-size: 50px;
    font-weight: bold;
    color: #171347
}

#mainbody .index-gallery {
    text-align: center;
    padding: 200px 0 50px;
    position: relative;
}

@media (max-height: 500px) {
    #mainbody {
        height: inherit;
    }
}

@media (min-width: 768px) {
    .navbar-default {
        background-color: transparent;
        border-color: transparent;
    }
    #mainbody .index-text {
        text-align: left;
    }
}

@media (max-width: 767px) {
    .navbar-default {
        background-color: #f1f6fd;
        border-color: #f1f6fd;
    }
    .navbar-default .navbar-collapse {
        background: #f1f6fd;
        box-shadow: 5px 9px 5px rgba(0, 0, 0, 0.07);
    }
    #mainbody {
        height: unset;
    }
    #mainbody .index-text {
        padding: 130px 0 0 0;
        height: calc(100vh - 261px);
    }
    #mainbody .index-gallery {
        padding: 30px 0 50px 0;
    }
    #mainbody .index-text h1 {
        font-size: 50px;
        margin-bottom: 20px;
    }
}

footer {
    background-color: #222222;
    padding: 20px 0;
    color: rgba(255, 255, 255, 0.3);
    text-align: center;
}

footer p {
    font-size: 14px;
    margin: 0;
}

.bg-primary {
    background: #fdcc52;
    background: -webkit-linear-gradient(#fdcc52, #fdc539);
    background: linear-gradient(#fdcc52, #fdc539);
}

.btn {
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-xl {
    margin-top: 20px;
    padding: 10px 45px;
    font-size: 14px;
}

/*toast*/

.toast {
    top: 50%;
    left: 50%;
    position: fixed;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    padding: 10px;
    z-index: 13;
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
}

.toast.in {
    -webkit-animation-name: contentZoomIn;
    animation-name: contentZoomIn;
}

.toast .iconfont {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 10px;
    display: block;
}

.toast .iconfont.icon-loading:before {
    display: block;
    -webkit-transform: rotate(360deg);
    animation: rotation 2.7s linear infinite;
}

.toast .text {
    margin: 0;
    text-align: center;
    max-width: 300px;
    color: #fff;
    font-size: 16px;
}

@-webkit-keyframes rotation {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes contentZoomIn {
    0% {
        -webkit-transform: translate(-50%, -70%);
        transform: translate(-50%, -70%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@keyframes contentZoomIn {
    0% {
        -webkit-transform: translate(-50%, -70%);
        transform: translate(-50%, -70%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

@-webkit-keyframes contentZoomOut {
    0% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(-50%, -30%);
        transform: translate(-50%, -30%);
        opacity: 0;
    }
}

@keyframes contentZoomOut {
    0% {
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        opacity: 1;
    }
    100% {
        -webkit-transform: translate(-50%, -30%);
        transform: translate(-50%, -30%);
        opacity: 0;
    }
}

/*toast*/

.kefu {
    width: 60px;
    height: 60px;
    bottom: 70px;
    right: 15px;
    position: fixed;
    z-index: 100;
    vertical-align: middle;
    border-style: none;
}

.van-toast {
    font-size: 16px;
    border-radius: 20px;
}

/*vant*/

.van-list__error-text,
.van-list__finished-text,
.van-loading__text {
    font-size: 14px;
}

.van-loading__spinner {
    font-size: 20px;
    width: 20px;
    height: 20px;
}

.van-pull-refresh__head {
    font-size: 14px;
}

.van-empty__description {
    font-size: 14px;
}

.van-button--danger {
    background: #ff2e63;
    height: 40px;
    font-size: 18px;
}

.van-dialog__message {
    font-size: 18px;
}

.van-collapse-item__wrapper {
    margin-top: -6px;
}

.van-collapse-item__content {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
}